<div><%= flash[:notice] %></div>

<h1>User info</h1>
<!-- ユーザーの詳細 -->

<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->

<div class="col-lg-4" style="background-color: orange;">
<div class="profile-container">
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3 class="profile-name">
    <p>"name"
      <%= @user.name %>
    </P>
  </h3>
  <h3 class="profile-introduction">
    <p>"introduction"
      <%= @user.introduction %>
    </P>
  </h3>

  <% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- 削除

# <div>
#   <h3><%= @user.name %></h3>
#   <%= image_tag @user.get_profile_image(100,100) %>
# </div>

-->

<!-- 投稿機能を実装 -->
<%= form_with model: @book, url: books_path, local: true do |f| %>
  <h4>New Book</h4>
  <p>Title</p>
   <%= f.text_field :title %>
  <p>Opinion</p>
   <%= f.text_area :body %>
  <div class="action">
      <%= f.submit 'Create Book' %>
  </div>
<% end %>
</div>

<div class="col-lg-8">  
<H2>Books</H2>

<%= render 'books/list', books: @books %>
</div>
</div>
</div>