
      <!-- 投稿機能を実装 -->

      <% if @book.errors.any? %>
        <h2><%=  pluralize(@book.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @book do |f| %>
        <h4>New book</h4>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <div class "action">
            <%= f.submit 'Create Book' %>
        </div>
      <% end %>