<div><%= flash[:notice] %></div>

<!-- ユーザーの詳細 -->

<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->
    <div class="col-md-3">
      <div class="profile-container">
        <h2>User info </h2>

        <%= render "users/profile", user: @user %>
        <%= render "books/form", book: @book %>
      </div>
    </div>

   <div class="col-md-8 offset-md-1">  <!-- この行を追加 -->
    <h2>Book detail</h2>
    <table class="table table">
      <thead>
  
      <tbody>
          <tr>
            <td> 
            <p><%= link_to user_path(@show_book.user) do %>
               <%= image_tag @show_book.user.get_profile_image(100,100) %>  
             <% end %></p>

            <p><%= link_to user_path(@show_book.user) do %>
               <%= @show_book.user.name %>
            <% end %></p>

           </td>
     
            </td>
            <td><%= link_to @show_book.title, book_path(@show_book) %></td>
            <td><%= @show_book.body %></td>
            <% if @show_book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@show_book) %></td>
            <td><%= link_to "Destroy", book_path(@show_book.id), method: :delete, "data-confirm" => "本当に削しますか？" %> </td>
            <%end%>         
          </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>